@import "./normalize.scss";
@import "./colors.scss";
@import "./media.scss";
@import "./fonts.scss";
@import "./libs/libs.scss";

* {
  box-sizing: border-box;
  outline: none !important;
  //cursor: none !important;
}

.bitrix-include-areas {
  * {
    cursor: auto !important;
  }
}

:root {
  --wScroll: 0px;
}

html {
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

body {
  background-color: $gray-5;
  font-size: 15px;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "OpenSans", sans-serif;
  font-weight: 600;
  color: $black-2;

  @media (max-width: 1024px) {
    font-size: 14px;
    line-height: 1.79;
  }

  @media (max-width: 620px) {
    line-height: 1.9;
  }
}

.container {
  width: 100%;
  padding: 0 40px;
  max-width: 1363px;
  margin: 0 auto;
  box-sizing: border-box;

  @include max1300 {
    width: 90%;
  }

  @include max1024 {
    width: 100%;
    padding: 0 20px;
  }

  @include mobile620 {
    width: 100%;
    padding: 0 15px;
  }
}

h1 {
  font-size: 25px;
  letter-spacing: -1.3px;

  @media (max-width: 620px) {
    font-size: 20px;
    letter-spacing: -0.5px;
  }
}

h2 {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.5px;

  @media (max-width: 620px) {
    font-size: 16px;
    letter-spacing: -0.3px;
  }
}

h3 {
  font-size: 21px;

  @media (max-width: 620px) {
    font-size: 17px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
}

a {
  display: inline;
  color: inherit;
  text-decoration: none;
  transition: linear 0.3s;
}

.clearfix::after,
.clearfix::before {
  content: "";
  display: table;
  clear: both;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input::-ms-clear {
  display: none;
}

.hidden {
  display: none;
}

.title-1 {
  font-size: 25px;
  font-weight: 600;

  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

.b-svg {
  width: auto;
  height: auto;
}

.b-page {
  min-height: 100vh;
  position: relative;
  z-index: 1;
  background-color: white;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1 0 auto;
}

.select2-results {
  .select2-results__option {
    font-size: 15px;
    color: $black-2;
  }
}

@import "./components/cart/cart.scss";
@import "./components/cart/cart-card.scss";
@import "./components/cart/cart-itog.scss";
@import "./components/header.scss";
@import "./components/footer.scss";
@import "./components/quantity.scss";
@import "./components/delete.scss";
@import "./components/qty-bloc.scss";
@import "./components/slider.scss";
@import "./components/btn.scss";
@import "./components/call.scss";
@import "./components/tooltip.scss";
