footer.footer
    .footer__container.container
        .call
            .call__container
                h2.call__title Узнавайте о скидках и новостях!
                .call__quote Подписывайтесь на нашу рассылку
                form.call__form
                    input.call__field(type="text" placeholder="Ваш email адрес" name="email")
                    button.btn.btn--w145.btn--h45(type="submit") Подписаться