.slider
    .slider__container.container
        h3.slider__title Вам также может пригодиться 
        .slider__slider.js-slider
            .slider__wrapper.swiper-wrapper
                .slider__slide.swiper-slide
                    .slider__pic
                        img(src="./img/slider/p1.jpg" alt="Товар")
                    .slider__content
                        .slider__service Услуги дизайнера
                        .slider__price
                            span.cost 600
                            span.symbol ₽
                    a.btn.btn--h45(href="javascript:void(0);") В корзину
                .slider__slide.swiper-slide
                    .slider__pic
                        img(src="./img/slider/p2.jpg" alt="Товар")
                    .slider__content
                        .slider__service Услуги дизайнера
                        .slider__price
                            span.cost 600
                            span.symbol ₽
                    a.btn.btn--h45(href="javascript:void(0);") В корзину
                .slider__slide.swiper-slide
                    .slider__pic
                        img(src="./img/slider/p3.jpg" alt="Товар")
                    .slider__content
                        .slider__service Услуги дизайнера
                        .slider__price
                            span.cost 600
                            span.symbol ₽
                    a.btn.btn--h45(href="javascript:void(0);") В корзину
                .slider__slide.swiper-slide
                    .slider__pic
                        img(src="./img/slider/p2.jpg" alt="Товар")
                    .slider__content
                        .slider__service Услуги дизайнера
                        .slider__price
                            span.cost 600
                            span.symbol ₽
                    a.btn.btn--h45(href="javascript:void(0);") В корзину
                .slider__slide.swiper-slide
                    .slider__pic
                        img(src="./img/slider/p3.jpg" alt="Товар")
                    .slider__content
                        .slider__service Услуги дизайнера
                        .slider__price
                            span.cost 600
                            span.symbol ₽
                    a.btn.btn--h45(href="javascript:void(0);") В корзину
                .slider__slide.swiper-slide
                    .slider__pic
                        img(src="./img/slider/p2.jpg" alt="Товар")
                    .slider__content
                        .slider__service Услуги дизайнера
                        .slider__price
                            span.cost 600
                            span.symbol ₽
                    a.btn.btn--h45(href="javascript:void(0);") В корзину
    //-     a(href="javascript:void(0);").works__item.swiper-slide
    //-         .works__pic
    //-             img(src="./img/portfolio/p1.png" alt="")
    //-         .works__content
    //-             .works__top
    //-                 .works__unit.works__unit--title Корпоративный сайт
    //-                 .works__unit.works__unit--href mgkapobeda.com
    //-             .works__midle
    //-                 .works__article МГКА “ПОБЕДА”
    //-                 .works__txt Сайт для московской коллегии адвокатов
    //-             .works__bottom
    //-                 .works__link.link.link--detail СМОТРЕТЬ ПРОЕКТ
    //-     a(href="javascript:void(0);").works__item.swiper-slide
    //-         .works__pic
    //-             img(src="./img/portfolio/p1.png" alt="")
    //-         .works__content
    //-             .works__top
    //-                 .works__unit.works__unit--title Корпоративный сайт
    //-                 .works__unit.works__unit--href mgkapobeda.com
    //-             .works__midle
    //-                 .works__article МГКА “ПОБЕДА”
    //-                 .works__txt Сайт для московской коллегии адвокатов
    //-             .works__bottom
    //-                 .works__link.link.link--detail СМОТРЕТЬ ПРОЕКТ
    //-     a(href="javascript:void(0);").works__item.swiper-slide
    //-         .works__pic
    //-             img(src="./img/portfolio/p1.png" alt="")
    //-         .works__content
    //-             .works__top
    //-                 .works__unit.works__unit--title Корпоративный сайт
    //-                 .works__unit.works__unit--href mgkapobeda.com
    //-             .works__midle
    //-                 .works__article МГКА “ПОБЕДА”
    //-                 .works__txt Сайт для московской коллегии адвокатов
    //-             .works__bottom
    //-                 .works__link.link.link--detail СМОТРЕТЬ ПРОЕКТ
    //- .arrow
    //-     .arrow__link.arrow__link--prev
    //-         +svg('arr-slider')
    //-     .arrow__link.arrow__link--next
    //-         +svg('arr-slider')
    //- .pagination