.footer {
  margin-top: 85px;
  background-color: $gray-2;
  border-top: 1px solid $gray-6;
  min-height: 519px;

  @media (max-width: 1024px) {
    min-height: 230px;
  }

  @media (max-width: 620px) {
    margin-top: 0;
    min-height: 230px;
  }

  &__container {
    padding-top: 25px;

    @media (max-width: 620px) {
      padding-top: 16px;
    }
  }
}
