.slider {
  padding: 19px 0 0;

  &__slider {
    opacity: 0;
    transition: 0.3s;
    overflow: hidden;

    @media (max-width: 620px) {
      width: 100vw;
      margin-left: -16px;
      background: white;
      padding: 17px 0 63px 16px;
    }
  }

  &__pic {
    width: 100%;
    height: auto;
    max-height: 152px;
    margin: 0 auto;
    background-color: $gray-2;
    display: flex;
    justify-content: center;
  }

  &__service {
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;

    @media (max-width: 620px) {
      text-align: left;
      margin-bottom: 0;
    }
  }

  &__slide {
    padding: 17px 17px 12px;
    border: 1px solid $gray-6;
    background-color: white;

    @media (max-width: 620px) {
      border: none;
      padding: 0;
    }
  }

  &__price {
    font-size: 18px;
    text-align: center;

    @media (max-width: 620px) {
      text-align: left;
    }

    .cost {
      margin-right: 4px;
    }

    .symbol {
      font-weight: 400;
    }
  }

  &__title {
    margin-bottom: 28px;

    @media (max-width: 620px) {
      margin-bottom: 15px;
    }
  }

  &__content {
    padding: 25px 0 12px;

    @media (max-width: 620px) {
      padding: 4px 0 9px;
    }
  }
}
